
<!-- Testing -->
<div style="margin-top: 7px;float: right;padding: 10px;margin-right: 45px;">
   <a style="cursor: pointer;color:#0d6efd" (click)="logout()">User Logout</a>
</div>
<ul style="margin-left:18em;margin-top:10px">
    <li routerLinkActive="active">
      <a [routerLink]="['./']">Book flight</a>
    </li>
    <li>
      <a [routerLink]="['Bookings']">Manage Bookings</a>
    </li>
    <li>
      <a [routerLink]="['History']">Booking History</a>
    </li>
  </ul>
  <router-outlet></router-outlet>